<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<map>
    <boolean name="transparentStatusBar" value="true" />
    <string name="backupUri">content://com.android.externalstorage.documents/tree/primary%3AYueDu%2FlegadoBackUp</string>
    <int name="chineseConverterType" value="1" />
    <boolean name="selectText" value="true" />
    <boolean name="volumeKeyPageOnPlay" value="false" />
    <string name="themeMode">1</string>
    <boolean name="recordLog" value="false" />
    <string name="ttsSpeechPer">0</string>
    <boolean name="webService" value="false" />
    <boolean name="clickTurnPage" value="true" />
    <boolean name="volumeKeyPage" value="true" />
    <boolean name="ttsFollowSys" value="false" />
    <int name="colorPrimary" value="-657931" />
    <int name="colorAccentNight" value="-1227907" />
    <boolean name="navigationBarColorChange" value="true" />
    <int name="colorBackgroundNight" value="-16777216" />
    <int name="readStyleSelect" value="2" />
    <int name="threadCount" value="186" />
    <boolean name="process_text" value="true" />
    <boolean name="showRss" value="true" />
    <boolean name="shareLayout" value="false" />
    <boolean name="clickAllNext" value="false" />
    <string name="web_dav_account">2095145204@qq.com</string>
    <string name="web_dav_password">a9pv5qthrbwka5pg</string>
    <boolean name="defaultToRead" value="false" />
    <boolean name="webDavCreateDir" value="true" />
    <int name="colorBottomBackground" value="-1118482" />
    <string name="readBookFont">/data/user/0/io.legado.app.release/files/Fonts/方正兰亭黑.TTF</string>
    <boolean name="isEInkMode" value="true" />
    <boolean name="auto_refresh" value="true" />
    <boolean name="readAloudOnLine" value="true" />
    <string name="list_screen_direction">0</string>
    <boolean name="hideNavigationBar" value="true" />
    <int name="colorPrimaryNight" value="-14606047" />
    <string name="launcherIcon">launcher6</string>
    <int name="colorAccent" value="-13002343" />
    <string name="fontFolder">content://com.android.externalstorage.documents/tree/primary%3AFonts</string>
    <boolean name="changeSourceLoadToc" value="true" />
    <string name="keep_light">0</string>
    <boolean name="brightnessAuto" value="true" />
    <int name="colorBackground" value="-263" />
    <int name="ttsSpeechRate" value="45" />
    <boolean name="readAloudByPage" value="false" />
    <boolean name="hideStatusBar" value="false" />
    <int name="versionCode" value="4752" />
    <long name="lastBackup" value="1587016309100" />
    <int name="pageAnim" value="2" />
    <int name="brightness" value="28" />
    <boolean name="readBodyToLh" value="true" />
    <string name="web_dav_url">https://dav.jianguoyun.com/dav/</string>
    <int name="colorBottomBackgroundNight" value="-12434878" />
</map>
